  /* start from here */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* -- Video background wrapper (fixed, behind everything) -- */
  .video-wrap {
    position: fixed;
    inset: 0;
    /* top:0; right:0; bottom:0; left:0; */
    z-index: -2;
    /* behind page content */
    overflow: hidden;
    pointer-events: none;
    /* allow clicking inputs */
  }

  .bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
    /* crop to fill the screen */
    will-change: transform;
    filter: blur(10px);
    -webkit-filter: blur(2px);
    transform: translate(-50%, -50%) scale(1.1);
  }

  .video-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    /* tweak for contrast */
    z-index: -1;
    /* sits above video, behind content */
    pointer-events: none;
  }

  body {
    background-color: rgb(196, 129, 255);
    font-family: Arial, sans-serif;
    color: black;
    font-size: 30px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .box {
    width: 35vw;
    height: 50vh;
    background-color: rgb(211, 152, 255);
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    background: rgba(255, 255, 255, 0.2);
    /* 20% visible, 80% transparent */
    backdrop-filter: blur(15px);
  }

  /* #todo-continer .box{
    max-height:50vh;
  } */

  .login {
    display: flex;
    flex-direction: row;
    width: 30vw;
    font-size: 25px;
  }

  .logout {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    color: yellow;
  }

  .signup_btn input {
    border-style: none;
    width: 30vw;
    height: 5vh;
    border-radius: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
    font-size: 20px;
  }

  .login_btn input {
    border-style: none;
    width: 30vw;
    height: 5vh;
    border-radius: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
    font-size: 20px;
  }

  .password input {
    border-style: none;
    width: 30vw;
    height: 5vh;
    border-radius: 10px;
    font-size: 25px;
    padding-left: 10px;
    margin-top: 5px;
  }

  .username input {
    border-style: none;
    width: 30vw;
    height: 5vh;
    border-radius: 10px;
    font-size: 25px;
    padding-left: 10px;
    margin-top: 5px;
  }

  #signtext {
    color: yellow;
    cursor: pointer;
  }

  .signup {
    width: 30vw;
  }

  .login {
    width: 30vw;
  }

  .todoHead {
    width: 30vw;
  }

  .todo_btn input {
    border-style: none;
    width: 30vw;
    height: 5vh;
    border-radius: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
    font-size: 20px;
  }

  .todo_input input {
    border-style: none;
    width: 30vw;
    height: 5vh;
    border-radius: 10px;
    font-size: 25px;
    padding-left: 10px;
    margin-top: 5px;
    background-color: white;
  }


  .todo_container div {
    width: 30vw;
    height: 5vh;
    border-radius: 10px;
    background-color: white;
    font-size: 25px;
    padding-left: 10px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .todo_container {
    max-height: 16vh;
    overflow-y: auto;
    width: 30vw;
  }

  .todo_container::-webkit-scrollbar {
    display: none;
  }

  .todo_container div {
    cursor: pointer;
  }